<nav class="navbar navbar-light bg-light justify-content-between mb-3 sticky-top" style="cursor: pointer;">
    
    <a class="navbar-brand ms-2" (click)="this.router.navigate([''])"><img src="../assets/logo.png" class="img-fluid m-0" style="max-width: 70px;"> Helsanagram</a>
    <form class="form-inline">
        <button class="btn btn-outline-danger my-2 my-sm-0 me-2" (click)="onLogout()" [routerLink]="['/login']">Logout</button>
    </form>
</nav>
<div class="tweet-box mx-auto mb-3 post-width" style="max-width: 60%;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
            <div class="profile-img-container">
                <img class="profile-img mb-3 rounded-circle" src="../assets/logo2.png" alt="Profile image" style="max-width: 100px;">
            </div>
            <div class="ms-3 w-100">
                <h5 class="card-title mb-1">{{this.profileUsername}}</h5>
                <p class="card-handle mb-1">@{{this.profileUsername}}</p>
                <p class="card-text text-muted mb-3">Just another tech enthusiast!</p>
                <p class="card-location text-muted mb-3"><i class="fas fa-map-marker-alt"></i> New York, USA</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0"><strong>123</strong> Following</p>
                        <p class="m-0"><strong>456</strong> Followers</p>
                    </div>
                    <button class="btn btn-primary">Follow</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngFor="let post of posts" class="tweet-box mx-auto mb-3 post-width">
    <div class="card-body">
        <div class="d-flex justify-content-start align-items-start">
            <div class="ms-3 w-100">
                <h5 class="card-title mb-3">{{post.username}}</h5>
                <img *ngIf="" class="card-img-top mb-3" src="path-to-post-image" alt="Post image">
                <p class="card-text mb-3">{{post.content}}</p>            
                <div class="text-muted text-end justify-content-between d-flex">
                    <div class="d-flex">
                        <button class="like-button" (click)="likePost(post)">
                            <i class="fas fa-heart" [class.liked]="post.isLiked"></i>
                        </button> 
                        <p class="m-0">{{post.likes}}</p>
                    </div>
                    <p class="m-0">{{post.time}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

