.navbar {
    padding: 0;
}

.post-width {
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .post-witdh {
        width: 100%;
    }
}

.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  
    .fa-heart {
      color: #657786;
      font-size: 20px;
  
      &.liked {
        color: #e0245e;
      }
    }
  }
  