<nav class="navbar navbar-light bg-light justify-content-between mb-3 sticky-top">
  <a class="navbar-brand ms-2"><img src="../assets/logo.png" class="img-fluid m-0" style="max-width: 70px;"> Helsanagram</a>
</nav>

<div class="vh-100 d-flex">
    <div class="card mx-auto my-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
            <form (submit)="onSignup()">
                <div class="form-group mb-2">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1"  [(ngModel)]="username" name="username" placeholder="Enter username" requierd>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" name="email" placeholder="Enter email" requierd>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group mb-2">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password" placeholder="Password" requierd>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <br>
                <small id="emailHelp" class="form-text text-muted">Already have an Account? <a [routerLink]="['/login']">Go to Login</a></small>
              </form>
        </div>
    </div>
</div>
